@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 50px;
}

.scrollbar-thin {
    scrollbar-width: thin;
    /* For Firefox */
}
.scrollbar-none {
    scrollbar-width: none;
    /* For Firefox */
}

.overflow-wrap {
    overflow-wrap: anywhere;
}

.sidebar {
    transition: transform 0.3s ease;
}
