.shimmer-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.shimmer-card {
    width: 280px;
    height: 375px;
    border-radius: 12px;
    background-color: lightgray;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
