.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px 50px;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo {
    width: 40px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.select-city-container {
    display: flex;
    gap: 5px;
    font-size: 14px;
    margin-left: 12px;
}

.select-city-container .select-city {
    text-decoration: underline;
    margin-right: 5px;
}

.select-city:hover {
    color: red;
}

.right-side {
    display: flex;
    gap: 40px;
}

.right-side span {
    cursor: pointer;
    font-size: 16px;
}
